---
layout: null
permalink:  "skin/frontend/js/component_smart.js"
---

{% include assets/v2/vendor/popper.js/dist/umd/popper.min.js %}
{% include assets/v2/vendor/bootstrap/bootstrap.min.js %}
{% include assets/v2/vendor/fancybox/jquery.fancybox.min.js %}
{% include assets/v2/vendor/svg-injector/dist/svg-injector.min.js %}
{% include assets/v2/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js %}
{% include assets/v2/vendor/jquery-validation/dist/jquery.validate.min.js %}
{% include assets/v2/vendor/typed.js/lib/typed.min.js %}
{% include assets/v2/vendor/slick-carousel/slick/slick.js %}
{% include assets/v2/vendor/custombox/dist/custombox.min.js %}
{% include assets/v2/vendor/custombox/dist/custombox.legacy.min.js %}
{% include assets/v2/js/plugin/owl.carousel.min.js %}
