---
layout: null
permalink:  "skin/frontend/js/hs_smart.js"
---

{% include assets/v2/js/hs.core.js %}
{% include assets/v2/vendor/hs-megamenu/src/hs.megamenu.js %}
{% include assets/v2/js/components/hs.header.js %}
{% include assets/v2/js/components/hs.unfold.js %}
{% include assets/v2/js/components/hs.focus-state.js %}
{% include assets/v2/js/components/hs.malihu-scrollbar.js %}
{% include assets/v2/js/components/hs.validation.js %}
{% include assets/v2/js/components/hs.fancybox.js %}
{% include assets/v2/js/components/hs.slick-carousel.js %}
{% include assets/v2/js/components/hs.svg-injector.js %}
{% include assets/v2/js/components/hs.go-to.js %}
{% include assets/v2/js/components/hs.scroll-nav.js %}
{% include assets/v2/js/components/hs.modal-window.js %}
{% include assets/v2/js/components/hs.quantity-counter.js %}


$(window).on('load', function () {
$('.js-mega-menu').HSMegaMenu({
event: 'hover',
pageContainer: $('.container'),
breakpoint: 767.98,
hideTimeOut: 0
});

// initialization of svg injector module
$.HSCore.components.HSSVGIngector.init('.js-svg-injector');
$.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
});

$(document).on('ready', function () {
// initialization of header
$.HSCore.components.HSHeader.init($('#header'));

// initialization of malihu scrollbar
var windW = window.innerWidth;

if(windW < 767.98) {
$.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
}
});

$(window).on('resize', function () {
// initialization of malihu scrollbar
var windW = window.innerWidth;

if(windW < 767.98) {
$.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
} else {
$('.js-scrollbar').mCustomScrollbar("destroy");
}
});