---
layout: null
permalink:  "skin/frontend/js/hs_smart.js"
---

{% include assets/v2/js/hs.core.js %}
{% include assets/v2/vendor/hs-megamenu/src/hs.megamenu.js %}
{% include assets/v2/js/components/hs.header.js %}
{% include assets/v2/js/components/hs.unfold.js %}
{% include assets/v2/js/components/hs.focus-state.js %}
{% include assets/v2/js/components/hs.malihu-scrollbar.js %}
{% include assets/v2/js/components/hs.validation.js %}
{% include assets/v2/js/components/hs.fancybox.js %}
{% include assets/v2/js/components/hs.slick-carousel.js %}
{% include assets/v2/js/components/hs.svg-injector.js %}
{% include assets/v2/js/components/hs.go-to.js %}
{% include assets/v2/js/components/hs.scroll-nav.js %}
{% include assets/v2/js/components/hs.modal-window.js %}
{% include assets/v2/js/components/hs.quantity-counter.js %}


$(document).on('ready', function () {
// initialization of malihu scrollbar
var $scrollbar = $('.js-scrollbar');
$.HSCore.components.HSMalihuScrollBar.init($scrollbar);
$($scrollbar).mCustomScrollbar('scrollTo', '.js-scrollbar .hs-sidebar__link.active');

$.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
duration: 700
});
});

$(window).on('load', function () {
// initialization of HSMegaMenu component
$('.js-mega-menu').HSMegaMenu({
event: 'hover',
pageContainer: $('.container'),
breakpoint: 767.98,
hideTimeOut: 100
});

// initialization of svg injector module
$.HSCore.components.HSSVGIngector.init('.js-svg-injector');
});

$(document).on('ready', function () {
// initialization of header
$.HSCore.components.HSHeader.init($('#header'));
// initialization of malihu scrollbar
var windW = window.innerWidth;

if(windW < 767.98) {
$.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
}

// initialization of unfold component
$.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
afterOpen: function () {
$(this).find('input[type="search"]').focus();
}
});

// initialization of forms
$.HSCore.components.HSFocusState.init();

// initialization of form validation
$.HSCore.components.HSValidation.init('.js-validate', {
rules: {
confirmPassword: {
equalTo: '#signupPassword'
}
}
});

// initialization of fancybox
$.HSCore.components.HSFancyBox.init('.js-fancybox');

// initialization of slick carousel
$.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

// initialization of go to
$.HSCore.components.HSGoTo.init('.js-go-to');

// initialization of autonomous popups
$.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-modal-window', {
autonomous: true
});

// initialization of quantity counter
$.HSCore.components.HSQantityCounter.init('.js-quantity');


});



