---
layout: null
permalink: "/smart/js-smart.js"
---

{% include assets/v2/vendor/hs-megamenu/src/hs.megamenu.js %}
{% include assets/v2/vendor/svg-injector/dist/svg-injector.min.js %}
{% include assets/v2/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js %}
{% include assets/v2/vendor/jquery-validation/dist/jquery.validate.js %}
{% include assets/v2/vendor/hs-megamenu/src/hs.megamenu.js %}

{% include assets/v2/js/components/hs.header.js %}
{% include assets/v2/js/components/hs.svg-injector.js %}
{% include assets/v2/js/components/hs.malihu-scrollbar.js %}
{% include assets/v2/js/components/hs.unfold.js %}
{% include assets/v2/js/components/hs.focus-state.js %}
{% include assets/v2/js/components/hs.validation.js %}
{% include assets/v2/js/components/hs.show-animation.js %}

<script type="text/javascript">
    $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 767.98,
            hideTimeOut: 0
        });

        // initialization of svg injector module
        $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of forms
        $.HSCore.components.HSFocusState.init();

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
            rules: {
                confirmPassword: {
                    equalTo: '#signupPassword'
                }
            }
        });

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');
    });
</script>