<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--white-nav-links-md u-header--abs-top"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
    <div class="u-header__section">
        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                <!-- Logo -->
                <img class="img-fluid rounded" src="{{ site.url }}/assets/img/logo.png" width="60" alt="logo">
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                    <ul class="js-scroll-nav navbar-nav align-items-md-center u-header__navbar-nav font-weight-bold w-100 ml-10">
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="#home-section">HOME</a>
                        </li>
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="#pages-section">PAGES</a>
                        </li>
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="#blog-section">SALES</a>
                        </li>
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->