{% assign products = site.data.products %}

<div class="js-slick-carousel u-slick u-slick--gutters-3 u-slick--equal-height"
     data-slides-show="4"
     data-slides-scroll="3"
     data-infinite="true"
     data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
     data-responsive='[{
       "breakpoint": 992,
       "settings": {
         "slidesToShow": 3
       }
     }, {
       "breakpoint": 720,
       "settings": {
         "slidesToShow": 2
       }
     }, {
       "breakpoint": 480,
       "settings": {
         "slidesToShow": 1
       }
     }]'>
    {% for product in products %}
        <div class="js-slide">
        <!-- Product -->
        <div class="card text-center w-100">
            <div class="position-relative">
                <img class="card-img-top" src="{{ product.image }}" alt="Image Description">

                <div class="position-absolute top-0 right-0 pt-3 pr-3">
                    <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Save for later">
                        <span class="fas fa-heart btn-icon__inner"></span>
                    </button>
                </div>
            </div>

            <div class="card-body pt-4 px-4 pb-0">
                <div class="mb-2">
                    <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">{{ product.category }}</a>
                    <h4 class="font-size-1 font-weight-normal">
                        <a class="text-dark font-weight-bold" href="#">{{ product.title | upcase }}</a>
                    </h4>
                    <div class="d-block">
                        <span class="font-weight-medium">${{ product.price }}</span>
                    </div>
                </div>
            </div>

            <div class="card-footer border-0 pt-0 pb-4 px-4">
                <!-- Review -->
                <div class="mb-3">
                    {% assign reviewRatings = site.data.productRatings[product.sku] %}
                    <div class="rating font-size-1">
                        {% if reviewRatings.rating_hundred %}
                        <div class="rating-upper" style="color: #FEE75C;width:{{ reviewRatings.rating_hundred }}%"
                             title="{{ reviewRatings.rating_hundred }}">
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                        </div>
                        {% else %}
                        <div class="rating-upper" style="color: #FEE75C;width:0%"
                             title="{{ reviewRatings.rating_hundred }}">
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                        </div>
                        {% endif %}

                        <div class="rating-lower">
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                            <span class="font-size-2">&clubs;</span>
                        </div>
                    </div>
                    {% assign review_count = reviewRatings.count %}
                    <span class="small text-dark">
                                    {% if review_count == 1 %}
                                        {{ review_count }} Review
                                    {% elsif review_count > 1 %}
                                        {{ review_count }} Review(s)
                                    {% else %}
                                        No Review
                                    {% endif %}
                                </span>
                </div>
                <!-- End Review -->
                <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</button>
            </div>
        </div>
        <!-- End Product -->
    </div>
    {% endfor %}

</div>